.main-container {
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 color: white;

 .content-container {
  display: flex;

  .profile-container {
   border-radius: 15px;
   background-color: hsl(235, 46%, 20%);

   .user-info {
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);

    img {
     border-radius: 50%;
    }

    .user-name {

     p {
      color: hsl(236, 100%, 87%);
      text-align: left;
     }

     h1 {
      text-align: left;
      font-weight: 300;
     }
    }
   }

   .time-selections {

    p {
     color: hsl(235, 45%, 61%)
    }

    .active {
     color: white;
    }

    p:hover {
     color: white;
     cursor: pointer;
    }
   }

  }

  .commitments-container {
   display: flex;
   justify-content: space-around;

   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 20px;
   position: relative;

   .icon {
    height: 70px;
    position: absolute;
    top: -10px;
    right: 15px;
   }

   .commitment {
    border-radius: 15px;
    position: relative;
    overflow: hidden;


    .content {
     background: hsl(235, 46%, 20%);
     border-radius: 15px;
     width: 100%;
     height: 80%;
     position: absolute;
     bottom: 0;
     left: 0;
     padding-top: 20px;
    }

    .heading {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 80%;
     margin: 0 auto;
     // padding-bottom: 20px;

     h2 {
      font-size: 17px;
     }

     img {
      height: 4px;
     }

     img:hover {
      cursor: pointer;
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(126deg) brightness(100%) contrast(103%);
     }
    }

    .times {
     display: flex;
     // width: 80%;
     margin: 0 auto;

     h1 {
      font-weight: 200;
     }

     h3 {
      font-size: 14px;
      font-weight: 400;
      color: hsl(236, 100%, 87%)
     }
    }
   }

   .content:hover {
    background-color: hsl(236, 38%, 35%);
    cursor: pointer;
   }

   .work {
    background-color: hsl(15, 100%, 70%);
   }

   .play {
    background-color: hsl(195, 74%, 62%);
   }

   .study {
    background-color: hsl(348, 100%, 68%);
   }

   .exercise {
    background-color: hsl(145, 58%, 55%);

    img {
     height: 50px;
     top: -2px;
    }
   }

   .social {
    background-color: hsl(264, 64%, 52%);

    img {
     height: 90px;
    }
   }

   .self-care {
    background-color: hsl(43, 84%, 65%);

    img {
     height: 60px;
    }
   }
  }

 }
}


@media screen and (min-width: 880px) {
 .main-container {

  .content-container {
   width: 70%;
   flex-direction: row;
   justify-content: space-between;

   .profile-container {
    width: 23%;
    height: 100%;

    .user-info {
     padding: 30px 30px;
     flex-direction: column;
     height: 70%;

     img {
      height: 80px;
      border: 3px solid white;
      margin-bottom: 35px;
     }

     .user-name {
      p {
       color: hsl(236, 100%, 87%);
       text-align: left;
       font-size: 1vw;
      }

      h1 {
       text-align: left;
       font-weight: 300;
       font-size: 2.5vw;
      }
     }
    }

    .time-selections {
     padding: 20px 30px;
     text-align: left;

     p {
      font-size: 17px;
      margin-bottom: 15px;
      color: hsl(235, 45%, 61%)
     }

     .active {
      color: white;
     }

     p:hover {
      color: white;
      cursor: pointer;
     }
    }

   }

   .commitments-container {
    width: 75%;
    margin: 0 auto;
    flex-direction: row;

    .commitment {
     width: 30%;
     flex-direction: column;

     .heading {
      margin-bottom: 10px;
     }

     .times {
      // margin-left: 30px;
      text-align: left;
      flex-wrap: wrap;
      align-items: flex-start;

      h1 {
       font-size: 3.5vw;
       padding-bottom: 8px;
      }

      .logged-times-view {
       margin-left: 30px;
      }

      .add-time-container {
       width: 80%;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: baseline;

       .add-time-input {
        height: 70px;
        width: 90%;
        border: none;
        border-bottom: 1px solid hsl(235, 45%, 61%);
        font-size: 3.5vw;
        background-color: hsl(235, 46%, 20%);
        color: white;
       }

       .add-time-input::placeholder {
        color: hsl(235, 45%, 61%);
       }
      }
     }

    }
   }
  }
 }

}

@media screen and (max-width: 880px) {
 .main-container {
  padding-top: 50px;

  .content-container {
   height: 100%;
   width: 85%;
   flex-direction: column;

   .profile-container {
    width: 100%;
    height: 200px;
    margin-bottom: 25px;

    .user-info {
     padding: 10px 20px;
     flex-direction: row;
     align-items: center;
     width: 100%;
     height: 70%;

     img {
      height: 70px;
      border: 2px solid white;
      margin-right: 15px;
     }

     .user-name {
      p {
       font-size: 4vw;
      }

      h1 {
       text-align: left;
       font-weight: 300;
       font-size: 7vw;
      }
     }
    }

    .time-selections {
     height: 55px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;

     p {
      font-size: 4.75vw;
     }
    }

   }

   .commitments-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;

    .commitment {
     height: 100%;
     overflow: auto;
     width: 100%;



     .heading {
      margin-bottom: 10px;
     }


     .times {


      h1 {
       font-size: 30px;
      }

      .logged-times-view {
       width: 80%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-left: 30px;
      }

      .add-time-container {
       width: 40%;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: baseline;

       .add-time-input {
        height: 50px;
        width: 60px;
        border: none;
        border-bottom: 1px solid hsl(235, 45%, 61%);
        font-size: 30px;
        background-color: hsl(235, 46%, 20%);
        color: white;
       }

       .add-time-input::placeholder {
        color: hsl(235, 45%, 61%);
       }
      }
     }

    }
   }
  }
 }
}